#container_productos {
    margin-bottom: 50px;
}
#carta_producto {
    background-color: #fff;
}

#img_productos {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

#addToCart {
    border-radius: 30px;
    width: 100%;
    border: none;
    background-color: var(--second-color);
    transition: all 0.2s;
}

#addToCart:hover{
    background-color: var(--third-color);
}



/* styles */

#tabla_productos {
    width: 100%;
    background-color: #eee;
    margin-bottom: 300px;
}