<div class="container" id="container_productos">

  <H2>Mantenedor de Productos</H2>

  <!-- <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="filterDatos" placeholder="Buscar"><br>
  </div> -->

<table class="table">
  <thead>
    <th>Codigo</th>
    <th>Marca</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th>Eliminar</th>
    <th>Seleccionar</th>
    <th>Agregar al carro</th>

  </thead>
  <tbody>
    <tr *ngFor="let producto of productos  ">
      <!--| filter: filterDatos-->
      <td>{{producto.codigo}}</td>
      <td>{{producto.marca}}</td>
      <td>{{producto.descripcion}}</td>
      <td>{{producto.precio}}</td>
      <td><button (click)="eliminar(producto.codigo)" class="btn btn-primary">Eliminar</button></td>
      <td><button (click)="seleccionar(producto)" class="btn btn-secondary">Seleccionar</button></td>
      <td><button (click)="agregarCarro(producto)" class="btn btn-secondary"><mat-icon>shopping_cart</mat-icon></button></td>

    </tr>
  </tbody>
</table>

<ng-template #sinProductos><p>No hay productos</p></ng-template>

<div>
  <h2>Agregar o Modificar productos</h2>
  <label for="codigo" class="form-label">Codigo</label>
  <input name="codigo" type="text" class="form-control" [(ngModel)]="prod.codigo">
  <br>
  <label for="marca" class="form-label">Marca</label>
  <input name="marca" type="text" class="form-control" [(ngModel)]="prod.marca" required>
  <br>
  <label for="descripcion" class="form-label">Descripcion</label>
  <input name="descripcion" type="text" class="form-control" [(ngModel)]="prod.descripcion">
  <br>
  <label for="precio" class="form-label">Precio</label>
  <input name="precio" type="number" class="form-control" [(ngModel)]="prod.precio">
  <br>
  <button (click)="agregar()" class="btn btn-primary">Agregar</button>
  <button (click)="modificar()" class="btn btn-secondary">Modificar</button>
</div>
<br><br>

<!--MODAL CARRITO-->
<div class="modal" tabindex="-1" id="exampleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--Tabla de carrito-->
        <h2>CARRITO</h2>

        <table class="table" *ngIf="hayproductos(); else sinProductos">
          <thead>
            <th>Codigo</th>
            <th>Marca</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Eliminar</th>

          </thead>
          <tbody>
            <tr *ngFor="let producto of carrito  ">
              <!--| filter: filterDatos-->
              <td>{{producto.codigo}}</td>
              <td>{{producto.marca}}</td>
              <td>{{producto.descripcion}}</td>
              <td>{{producto.precio}}</td>
              <td><button (click)="eliminarCarrito(producto.codigo)" class="btn btn-primary">Eliminar</button></td>
            </tr>
          </tbody>
        </table><!--Tabla de carrito-->
        
        <ng-template #sinProductos><p>No hay productos</p></ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Comprar</button>
      </div>
    </div>
  </div>
</div>

<app-comprar></app-comprar>

</div>
<router-outlet></router-outlet>
